<!DOCTYPE html>
<html>

<head>
  <title>Trail Manager</title>
  <meta charset="utf-8">
  {{!-- Google links for authentication --}}
  <meta name="google-signin-client_id"
    content="50924872550-rirmmf176fipu9kj9lqs4ip7npb66eva.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  {{!-- Jquery link --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  {{!-- Bootstrap link --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <script>
    var googleUser = {};
    var startApp = function () {
      gapi.load('auth2', function () {
        // Retrieve the singleton for the GoogleAuth library and set up the client.
        auth2 = gapi.auth2.init({
          client_id: '50924872550-rirmmf176fipu9kj9lqs4ip7npb66eva.apps.googleusercontent.com',
          cookiepolicy: 'single_host_origin',
          // Request scopes in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
        attachSignin(document.getElementById('customBtn'));
      });
    };
    // Commented out temprarily as was failing during testing trails page

    function attachSignin(element) {
      auth2.attachClickHandler(element, {}, function (googleUser) {
        document.getElementById('name').innerText = "Signed in: ";
        window.location.href = "/trail";
        //alert(JSON.stringify(error, undefined, 2));
      });
    }
  </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/trail">Trail Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/task">Task List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calendar">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
    </div>
  </nav>
  {{{body}}}

  <!-- In the callback, you would hide the gSignInWrapper element on a
  successful sign in -->

  <script>
    startApp();
  </script>

</body>

</html>