body{
  background-image: url("../images/purple.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
}

#home{
  border-radius: 15px;
  padding-top: 50px;
  height: 650px;
  width: 30%;
  background-color: white;
  object-position: center;
  position: absolute;
  top: 100px;
  left: 500px;
}

#tasks{
  border-radius: 15px;
  padding-top: 50px;
  /* height: 650px; */
  width: 30%;
  background-color: white;
  object-position: center;
  position: absolute;
  top: 100px;
  left: 500px;
}

h6{
  padding-top: 30px;
  padding-bottom: 20px;
}

.btn{
  background-image: url("../images/RCZ2rt.jpg");
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  margin: 0%;
}

.form-group{
  padding-top: 20px;
}

.image{
  background-image: url("../images/pink\ trail\ image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 380px;
  margin-top: -100px;
}

.trailTitle{
  height: 150px;
  color: white;
  padding: 20px;
  text-align: left;
  padding-left: 100px;
  padding-top: 35px;
  /* letter-spacing: 3px; */
}

.form-control{
  /* width: 300px; */
  /* text-align: center; */
  margin: auto;
}

.btn2{
  width: 300px;
  margin: auto;
  background-image: url("../images/RCZ2rt.jpg");
  position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  border-radius: 4px;
  height: 37px;
}

.btn3{
  width: 200px;
  margin: auto;
  background-image: url("../images/RCZ2rt.jpg");
  position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  border-radius: 4px;
  height: 37px;
}

.navbar{
    /* background:transparent; */
    background-color: rgba(255,153,255,0.3);
    /* color: white; */
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
    font-size: 36px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}

.miles-input {
  width: 300px;
}

.scroll-bar {
  height: 500px;
  overflow-y: scroll;
  padding: 25px;
  background: rgba(255,255,255,0.3);
  background-image: linear-gradient(to bottom, white, transparent 25px);
  margin: 25px auto 0;
  max-width: 500px;
  border-radius: 4px;

}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

