<div class="image">
    <h1 class="trailTitle"></h1>
</div>

<<<<<<< HEAD
<p>Google Calendar API Quickstart</p>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" style="display: none;">Authorize</button>
    <button id="signout_button" style="display: none;">Sign Out</button>
=======
<div id="page-body">
    <!-- [PERIOD SELECTOR] -->
    <div id="cal-date">
        <select id="cal-mth"></select>
        <select id="cal-yr"></select>
        <input id="cal-set" type="button" value="SET" />
    </div>
>>>>>>> 16abe273b94cc7639ee8241d31461e8feeab56f5

    <pre id="content" style="white-space: pre-wrap;"></pre>

<<<<<<< HEAD
  <script src="/trailManager/public/js/calendar.js"></script>

  <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
=======
    <!-- [EVENT] -->
    <div id="cal-event"></div>
</div>

<script src="/trailManager/public/js/calendar.js"></script>
>>>>>>> 16abe273b94cc7639ee8241d31461e8feeab56f5
