<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Trail Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="image">
    <h1 class="trailTitle"></h1>
</div>

<div id="page-body">
    <!-- [PERIOD SELECTOR] -->
    <div id="cal-date">
        <select id="cal-mth"></select>
        <select id="cal-yr"></select>
        <input id="cal-set" type="button" value="SET" />
    </div>

    <!-- [CALENDAR] -->
    <div id="cal-container"></div>

    <!-- [EVENT] -->
    <div id="cal-event"></div>
</div>

<script src="/trailManager/public/js/calendar.js"></script>