<div id="tasks">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>What Trail Do you Want to Tackle?</h2>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="example-text">Enter in your own Trail</label>
                        <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                            placeholder="Enter in your own Trail">
                    </div>
                    <div class="form-group">
                        <label for="example-description">Trail Description</label>
                        <textarea class="form-control" id="example-description" aria-describedby="example-description"
                            placeholder="Trail Description"></textarea>
                    </div>
                    <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>
                <div class="" style="margin-bottom:20px">
                    <h3>Task List of Trails:</h3>
                    <ul id="example-list" class="list-group">
                        {{#each examples}}
                        <li data-id="{{this.id}}" class="list-group-item">
                            <a href="example/{{this.id}}">{{this.text}}</a>
                            <button class="btn btn-danger float-right delete">ｘ</button>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/task.js"></script>