{{!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Trail Manager</h1>
        <p class="lead"></p>
    </div>
</div> --}}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

<div class="image">
    Trail Manager
</div>

{{#each trails}}
<p>Name: {{this.name}}</p>
<p>Location: {{this.location}}</p>
<p>Length: {{this.length}}</p>
<p>Distance: {{this.distance}}</p>
<hr>
{{/each}}