<!DOCTYPE html>
<html>

<head>
  <title>Trail Manager</title>
  <meta charset="utf-8"> 
  {{!-- Google links for authentication --}}
  <meta name=“google-signin-client_id” content=“50924872550-4ljlulkdlond671hu5jukpknjume5b9s.apps.googleusercontent.com”>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  {{!-- Jquery link --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  {{!-- Bootstrap link --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="/trailManager/public/js/buttons.js"></script>
</head>

<body>
  {{{body}}}


  
</body>

</html>